@media screen and (max-width: 1176px) {
    .header__menu {
        display: none;
    }
    .header__btn {
        display: none;
    }
    .header__burger-menu {
        display: block;
    }
}
@media screen and (max-width: 1080px) {
    .together__block {
        background: none;
        flex-direction: column;
        align-items: center;
    }
    .together__title {
        display: none;
    }
    .together__title-adaptive {
        font-size: 50px;
        display: block;
    }
    .together__text {
        width: 100%;
    }
}
.advantages__features {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
@media screen and (max-width: 830px) {
    .advantages__text {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .years__text {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .innovation__text {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .guarantees__text {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .guarantees__subtitle {
        width: 100%;
    }
}
@media screen and (max-width: 486px) {
    .footer__address {
        width: 100%;
    }
}
@media screen and (max-width: 450px) {
    .footer__subscribe input {
        padding: 15px 20px;
        font-size: 16px;
    }

    .footer__subscribe button {
        padding: 15px 20px;
        font-size: 16px;
    }
    .footer__subscribe {
        padding: 30px 20px
    }
}
@media screen and (max-width: 474px) {
    .footer__bottom {
        text-align: center;
    }
}
@media screen and (max-width: 474px) {
    .footer__bottom {
        text-align: center;
    }
}
@media screen and (max-width: 1140px) {
    .footer__list {
        flex-direction: column;
        gap: 20px;
    }
    .footer__menu {
        flex-direction: column;
    }
    .footer__contacts {
        flex-direction: column;
        text-align: center;
    }
    .footer__subscribe {
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
    }
    .footer__subscribe input {
        width: 100%;
    }
    .footer__bottom {
        flex-direction: column;
        gap: 10px;
    }
    .footer__socials-adaptive {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 30px;
    }
    .footer__socials {
        display: none;
    }
    .footer__img {
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 940px) {
    .years__content {
        display: inline-block;
    }
    .years__cards {
        align-items: center;
    }
    .years__content:nth-child(2n) {
        align-self: center;
    }
    .years__year {
        margin-top: 0;
        display: flex;
        align-items: center;
        gap: 30px;
        margin-left: 36px;
    }
    .years__year::before {
        content: "";
        background-image: url("../src/images/pagination_green.svg");
        background-size: cover;
        width: 50px;
        height: 50px;
        display: flex;

    }
    .years__card {
        height: 100%;
    }
    .years__border {
        height: 100%;
    }
}
@media screen and (max-width: 948px) {
    .guarantees__cards {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 744px) {
    .years__card {
        width: 100%;
    }
}
@media screen and (max-width: 1260px) {
    .innovation__cards {
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 995px) {
    .banner__block {
        flex-direction: column;
    }
    .banner__text {
        width: 100%;
        text-align: center;
    }
}
@media screen and (max-width: 1040px) {
    .promo__block {
        flex-direction: column;
        gap: 0;
        padding: 40px;
    }
    .promo__img {
        position: static;
        order: 1;
    }
    .promo__info {
        display: none;
    }
    .promo__img-adaptive {
        display: block;
        width: 400px;
        order: 1;
        align-self: end;
    }
    .promo__img-adaptive img {
        width: 100%;
    }
    .promo__img {
        display: none;
    }
}
@media screen and (max-width: 630px) {
    .promo__text {
        text-align: left;
    }
}
@media screen and (max-width: 674px) {
    .promo__text {
        width: 100%;
    }
}
@media screen and (max-width: 694px) {
    .together__block {
        padding: 40px;
    }
}
@media screen and (max-width: 926px) {
    .together__img {
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 644px) {
    .innovation__card {
        flex-direction: column;
        align-items: center;
    }
    .innovation__card {
        height: 100%;
        width: 100%;
    }
}
@media screen and (max-width: 534px) {
    .innovation__img {
        width: 300px;
        height: 200px;
    }
}
@media screen and (max-width: 412px) {
    .innovation__img {
        width: 200px;
        height: 150px;
    }
}
@media screen and (max-width: 550px) {
    .together__block {
        padding: 0;
    }
}
@media screen and (max-width: 435px) {
     .main__title {
        font-size: 30px;
    }
}
@media screen and (max-width: 600px) {
    .years__year {
        font-size: 35px;
    }
}
@media screen and (max-width: 679px) {
    .guarantees__card {
        padding: 20px;
        width: 211px;
    }
}
@media screen and (max-width: 948px) {
    .guarantees__cards {
        justify-content: center;
    }
}
@media screen and (max-width: 481px) {
    .guarantees__card {
        width: 100%;
    }
}
@media screen and (max-width: 519px) {
    .promo__img-adaptive {
        width: 300px;
    }
    .promo__description {
        font-size: 20px;
        text-align: left;
        padding: 30px;
    }
    .promo__block {
        padding: 0;
    }
}
@media screen and (max-width: 450px) {
    .advantages__text p{
        width: 100%;
    }
    .innovation__subtitle {
        width: 100%;
    }
}
