@font-face {
    font-family: 'Space Grotesk';
    src: url('./src/fonts/SpaceGrotesk-Regular.ttf');
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --main-color-green: #B9FF66;
    --main-color-black: #191A23;
    --main-color-white: #F3F3F3;
}
body {
    font-family: 'Space Grotesk', sans-serif;
}
html {
    scroll-behavior: smooth;
}
.container {
    padding: 0 20px;
    max-width: 1280px;
    margin: 0 auto;
}
.btn {
    text-decoration: none;

    background-color: var(--main-color-black);
    display: inline-block;
    color: white;
    transition: .3s ease;
}
.btn:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.btn__transparent {
    display: inline-block;
    text-decoration: none;
    color: black;
    border-radius: 14px;
    padding: 20px 35px 20px 35px;
    font-size: 20px;
    background-color: white;
    transition: .5s ease;
    border: 1px solid black;
}
.btn__transparent:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transform: scale(1.05);
}
.main__title {
    background-color: var(--main-color-green);
    padding: 0 7px;
    font-size: 40px;
    font-family: 'Space Grotesk', sans-serif;
    display: inline-block;
    border-radius: 7px;
}
header {
    padding-top: 60px;
}
.header__menu {
    display: flex;
    gap: 40px;
    font-family: 'Space Grotesk' ,sans-serif;
    font-size: 20px;
}
.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__block {
    display: flex;
    gap: 40px;
    align-items: center;
}
.header__menu a {
    text-decoration: none;
    color: black;
}
.header__menu li  {
    list-style: none;
}
.header__a {
    position: relative;
    padding: 5px 10px 5px 10px;
}
.header__a:not(.active):hover::before {
    display: block;
    content: '';
    width: 60%;
    height: 3px;
    bottom: -3px;
    left: 20%;
    position: absolute;
    background-color: var(--main-color-green);
}
.header__a.active {
    background-color: var(--main-color-green);
    border-radius: 14px;
}
.together {
    padding-top: 70px;
    padding-bottom: 70px;
}
.together__block {
    background-color: var(--main-color-white);
    display: flex;
    justify-content: space-between;
    border-radius: 45px;
    padding: 70px;
}
.together__text {
    width: 400px;
}
.together__text h1{
    font-size: 50px;
}
.together__text p {
    font-size: 20px;
    margin-top: 45px;
}
.together__img {
    width: 570px;
    height: 535px;
}
.together__img img {
    width: 100%;
    height: 100%;
}
.advantages {
    padding-top: 70px;
    padding-bottom: 70px;
}
.advantages__text {
    display: flex;
    align-items: center;
    gap: 20px;
}
.advantages__text p{
    width: 400px;
}
.advantages__features {
    display: flex;
    margin-top: 70px;
}
.advantages__numbers {
    font-size: 30px;
    font-weight: bold;
}
.advantages__description {
    font-size: 16px;
}
.advantages__feature {
    width: 250px;
    padding: 20px;
}
.advantages__feature {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
}
.advantages__feature:before {
    content: '';
    background-color: white;
    width: 3px;
    height: 101px;
    position: absolute;
    left: -2px;
}
.advantages__feature:after {
    content: '';
    background-color: white;
    width: 3px;
    height: 101px;
    position: absolute;
    right: -2px;
    top: 23px;
}
.years {
    padding-top: 70px;
    padding-bottom: 70px;
}
.years__text {
    display: flex;
    align-items: center;
    gap: 20px;
}
.years__subtitle {
    width: 320px;
}
.years__border {
    position: absolute;
    left: 60px;
    height: 260px;
    top: 0;
}
.years__year {
    font-size: 50px;
    margin-top: 15px;
}
.years__img {
    position: absolute;
    top: 43px;
    left: -14px;
    width: 30px;
}
.years__img img {
    width: 100%;
}
.years__content:nth-child(2n){
    align-self: flex-end;
}
.years__image {
    position: absolute;
    right: -15px;
    top: 40px;
    width: 30px;
}
.years__image img {
    width: 100%;
}
.years__cards {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}
.years__border h2{
    font-size: 50px;
}
.years__card {
    margin-bottom: 60px;
    background-color: var(--main-color-black);
    border-radius: 45px;
    padding: 40px 40px 40px 150px;
    width: 700px;
    color: white;
    display: flex;
    position: relative;
    height: 260px;
}
.years__line {
    width: 1px;
    height: 100%;
    background-color: var(--main-color-green);
    position: relative;
}
.years__card h2 {
    margin-top: 15px;
}
.years__content {
    display: flex;
    align-items: start;
    gap: 30px;
}
.years__description h3 {
    font-size: 26px;
}
.years__description p {
    font-size: 16px;
    margin-top: 20px;
}
.innovation {
    padding-top: 70px;
    padding-bottom: 70px;
}
.innovation__text {
    display: flex;
    align-items: center;
    gap: 20px;
}
.innovation__subtitle {
    width: 400px;
}
.innovation__cards {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.innovation__card {
    width: 600px;
    height: 300px;
    border: 1px solid black;
    border-bottom: 6px solid black;
    border-radius: 45px;
    padding: 35px;
    display: flex;
    gap: 40px;
}
.innovation__title {
    font-size: 20px;
    margin-bottom: 40px;
}
.innovation__description {
    font-size: 18px;
    border-top: 1px solid black;
    padding-top: 30px;
}
.innovation__img {
    width: 250px;
    flex-shrink: 0;
}
.innovation__img img {
    width: 100%;
    height: 100%;
}
.promo {
    padding-top: 70px;
    padding-bottom: 70px;
}
.promo__block {
    display: flex;
    gap: 100px;
    background-color: var(--main-color-black);
    border-radius: 45px;
    color: white;
    padding: 60px;
    position: relative;
    justify-content: end;
}
.promo__img {
    width: 530px;
    left: -30px;
    top: -70px;
    position: absolute;
}
.promo__img img {
    width: 100%;
}
.promo__text {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.promo__description {
    font-size: 26px;
}
.promo__info {
    font-size: 18px;
    margin-top: 50px;
}
.guarantees {
    padding-top: 70px;
    padding-bottom: 70px;
}
.guarantees__text {
    display: flex;
    align-items: center;
    gap: 20px;
}
.guarantees__subtitle {
    width: 600px;
}
.guarantees__cards {
    margin-top: 70px;
    display: flex;
    gap: 20px;
}
.guarantees__card {
    background-color: var(--main-color-white);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 310px;
    padding: 40px;
    align-items: center;
}
.guarantees__img {
    width: 130px;
    height: 130px;
}
.guarantees__img img {
    width: 100%;
}
.guarantees__info {
    margin-top: 30px;
}
.guarantees__description {
    margin-top: 30px;
}
.banner {
    padding-top: 70px;
    padding-bottom: 70px;
}
.banner__block {
    background-color: var(--main-color-green);
    display: flex;
    align-items: center;
    border-radius: 45px;
    border: 1px solid black;
    border-bottom: 6px solid black;
    padding: 60px;
}
.banner__text {
    width: 700px;
}
.banner__title {
    font-size: 30px;
}
.banner__description {
    margin-top: 20px;
}
.banner__btn {
    margin-top: 25px;
    padding: 20px 35px;
    border-radius: 14px;
}
.banner__img {
    width: 330px;
}
.banner__img img {
    width: 100%;
}
footer{
    padding-top: 70px;
}
.footer__block {
    background-color: var(--main-color-black);
    border-radius: 45px 45px 0 0;
    padding: 60px 55px;
}
.footer__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;

}
.footer__list a {
    font-family: 'Space Grotesk',sans-serif;
    color: white;
    font-size: 18px;
}
.footer__socials {
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer__contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 66px;
    border-bottom: 1px solid white;
    padding-bottom: 51px;
}
.footer__contacts h2 {
    font-family: 'Space Grotesk',sans-serif;
    background-color: var(--main-color-green);
    padding: 0 7px;
    display: inline-block;
    font-size: 20px;
    border-radius: 7px;
    margin-bottom: 27px;
}
.footer__email {
    color: white;
    font-family: 'Space Grotesk',sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
}
.footer__email a {
    color: white;
    font-family: 'Space Grotesk',sans-serif;
    font-size: 18px;
}
.footer__phone {
    color: white;
    font-family: 'Space Grotesk',sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
}
.footer__phone a {
    color: white;
    font-family: 'Space Grotesk',sans-serif;
    font-size: 18px;
}
.footer__address {
    color: white;
    font-family: 'Space Grotesk',sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
    width: 332px;
}
.footer__address a {
    font-size: 18px;
    font-family: 'Space Grotesk',sans-serif;
    color: white;
}
.footer__subscribe {
    background-color: #292A32;
    border-radius: 14px;
    display: flex;
    align-items: center;
    padding: 58px 40px;
    gap: 20px;
}
.footer__subscribe input {
    font-family: 'Space Grotesk',sans-serif;
    border: 1px solid white;
    background-color: #292A32;
    padding: 22px 35px;
    border-radius: 14px;
    font-size: 18px;
    color: white;
}
.footer__subscribe input::placeholder {
    color: white;
}
.footer__subscribe button {
    cursor: pointer;
    background-color: var(--main-color-green);
    color: black;
    font-family: 'Space Grotesk',sans-serif;
    padding: 20px 35px;
    margin: 0;
    border: none;
}
.footer__bottom {
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 40px;
}
.footer__bottom p {
    font-family: 'Space Grotesk',sans-serif;
    color: white;
    font-size: 18px;
}
.footer__bottom a {
    color: white;
    font-family: 'Space Grotesk',sans-serif;
    font-size: 18px;
}
.up {
    background-color: var(--main-color-black);
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}
.header__burger-menu {
    display: none;
}
.header__title-adaptive {
    display: none;
}
.footer__socials-adaptive {
    display: none;
}
.together__title-adaptive {
    display: none;
}
.promo__img-adaptive {
    display: none;
}
button {
    width: 100%;
    padding: 20px 0;
    border-radius: 14px;
    background-color: var(--main-color-black);
    color: white;
    cursor: pointer;
    margin-top: 40px;
    font-family: 'Space Grotesk',sans-serif;
    font-size: 20px;
}