@font-face {
    font-family: 'Space Grotesk';
    src: url('./src/fonts/SpaceGrotesk-Regular.ttf');
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --main-color-green: #B9FF66;
    --main-color-black: #191A23;
    --main-color-white: #F3F3F3;
}
body {
    font-family: 'Space Grotesk', sans-serif;
}
html {
    scroll-behavior: smooth;
}
.container {
    padding: 0 20px;
    max-width: 1280px;
    margin: 0 auto;
}
.btn {
    text-decoration: none;
    font-family: 'Space Grotesk';
    background-color: var(--main-color-black);
    display: inline-block;
    color: white;
    transition: .3s ease;
}
.btn:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.btn__transparent {
    display: inline-block;
    font-family: 'Space Grotesk', sans-serif;
    text-decoration: none;
    color: black;
    border-radius: 14px;
    padding: 20px 35px 20px 35px;
    font-size: 20px;
    background-color: white;
    transition: .5s ease;
    border: 1px solid black;
}
.btn__transparent:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transform: scale(1.05);
}
.main__title {
    background-color: var(--main-color-green);
    padding: 0 7px;
    font-size: 40px;
    font-family: 'Space Grotesk', sans-serif;
    display: inline-block;
}
header {
    padding-top: 60px;
}
.header__menu {
    display: flex;
    gap: 40px;
    font-family: 'Space Grotesk' ,sans-serif;
    font-size: 20px;
}
.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__block {
    display: flex;
    gap: 40px;
    align-items: center;
}
.header__menu a {
    text-decoration: none;
    color: black;
}
.header__menu li  {
    list-style: none;
}
.header__a5 {
    position: relative;
}
.header__a5:hover::before {
    display: block;
    content: '';
    width: 30px;
    height: 3px;
    top: 33px;
    left: 7px;
    position: absolute;
    background-color: var(--main-color-green);
}
.header__a4 {
    position: relative;
}
.header__a4:hover::before {
    display: block;
    content: '';
    width: 45px;
    height: 3px;
    top: 33px;
    left: 13px;
    position: absolute;
    background-color: var(--main-color-green);
}
.header__a3 {
    position: relative;
}
.header__a3:hover::before {
    display: block;
    content: '';
    width: 70px;
    height: 3px;
    top: 33px;
    left: 16px;
    position: absolute;
    background-color: var(--main-color-green);
}
.header__a2 {
    position: relative;
}
.header__a2:hover::before {
    display: block;
    content: '';
    width: 55px;
    height: 3px;
    top: 33px;
    left: 14px;
    position: absolute;
    background-color: var(--main-color-green);
}
.header__a {
    position: relative;
    padding: 5px 10px 5px 10px;
}
.header__a:hover::before {
    display: block;
    content: '';
    width: 60px;
    height: 3px;
    top: 33px;
    left: 14px;
    position: absolute;
    background-color: var(--main-color-green);
}
.header__a.active {
    background-color: var(--main-color-green);
    border-radius: 14px;
}
.pricing {
    padding-top: 70px;
    padding-bottom: 70px;
}
.pricing__text h1{
    font-size: 60px;
}
.pricing__text p{
    font-size: 18px;
    width: 380px;
}
.pricing__cards{
    margin-top: 80px;
    display: flex;
    gap: 27px;
}
.pricing__card{
    border: 1px solid black;
    border-bottom: 6px solid black;
    width: 400px;
    border-radius: 45px;
    padding: 30px;
}
.pricing__title {
    font-size: 22px;
    display: flex;

}
.pricing__price{
    display: flex;
    align-items: end;
    margin-top: 10px;
    gap: 10px;
}
.pricing__cost {
    font-size: 55px;
    font-weight: bold;
}
.pricing__time {
    margin-bottom: 15px;
    font-size: 18px;
}
.pricing__button {
    margin-top: 40px;
    border-bottom: 2px solid black;
    padding-bottom: 40px;
}
.pricing__start {
    padding: 20px 110px;
    border-radius: 14px;
    font-size: 20px;
}
.pricing__quote {
    padding: 20px 85px;
    font-size: 20px;
    margin-top: 20px;
}
.pricing__card__black .pricing__quote {
    background-color: var(--main-color-black);
    color: white;
    border: 1px solid white;
}
.pricing__card__black .pricing__quote:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}
.pricing__block {
    padding-top: 40px;
}
.pricing__list li{
    font-size: 18px;
    margin-bottom: 15px;
    list-style: none;
    position: relative;
    padding-left: 35px;
}
.pricing__list li:before {
    display: flex;
    align-items: center;
    justify-content: center;
    content: url('./src/images/check_img.svg');
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2px;
    left: 0;
    background-color: var(--main-color-green);
    border-radius: 50%;
}
.pricing__card__black {
    background-color: var(--main-color-black);
    position: relative;
}
.pricing__card__black .pricing__tariff {
    color: white;
}
.pricing__card__black .pricing__button {
    border-bottom: 1px solid white;
}
.pricing__card__black .pricing__start {
    background-color: var(--main-color-green);
    color: black;
}
.pricing__card__black .pricing__block {
    color: white;
}
.pricing__card__black::before {
    content: 'Popular';
    background-color: var(--main-color-green);
    font-size: 16px;
    color: black;
    border-radius: 15px;
    padding: 2px 10px;
    position: absolute;
    right: 35px;
    top: 35px;
}
.quotation {
    padding-top: 70px;
    padding-bottom: 70px;
}
.process__subtitle {
    font-size: 18px;
    width: 292px;
}
.process__cards {
    margin-top: 80px;
}
.process__card {
    background-color: var(--main-color-white);
    padding: 41px 60px;
    border-radius: 45px;
    margin-bottom: 30px;
    border: 1px solid black;
    transition: .3s ease-in;
}
.process__card:hover {
    background-color: var(--main-color-green);
    box-shadow: 0 10px 10px black;
    transform: translateY(-10px);
    cursor: pointer;
}
.process__card_title {
    display: flex;
    align-items: center;
    font-family: "Space Grotesk";
    gap: 25px;

}
.process__card_title p {
    font-size: 60px;
}
.process__card_title h3 {
    font-size: 30px;
}
.process__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    padding-bottom: 0;
    transition: .3s;
    border-bottom: 1px solid transparent;
}
.process__description {
    font-family: 'Space Grotesk',sans-serif;
    font-size: 18px;
    opacity: 0;
    height: 0;
    transition: .3s;
}
.process__symbol {
    border-radius: 50%;
    width: 58px;
    height: 58px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color-white);
    position: relative;
}
.process__card:hover > .process__description {
    opacity: 1;
    height: 46px;
}
.process__card:hover > .process__block {
    margin-bottom: 30px;
    border-bottom: 1px solid black;
    padding-bottom: 30px;

}
.process__minus  {
    opacity: 0;
}
.process__symbol img {
    position: absolute;
    transition: .3s;
}
.process__card:hover .process__plus {
    opacity: 0;
    transform: rotate(90deg);

}
.process__card:hover .process__minus {
    opacity: 1;
}
.process__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
}
.process__text p{
    background-color: var(--main-color-green);
    padding: 0 7px;
    font-size: 40px;
    display: inline-block;
    border-radius: 7px;
}
footer{
    padding-top: 70px;
}
.footer__block {
    background-color: var(--main-color-black);
    border-radius: 45px 45px 0 0;
    padding: 60px 55px;
}
.footer__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;

}
.footer__list a {
    font-family: 'Space Grotesk',sans-serif;
    color: white;
    font-size: 18px;
}
.footer__socials {
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer__contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 66px;
    border-bottom: 1px solid white;
    padding-bottom: 51px;
}
.footer__contacts h2 {
    font-family: 'Space Grotesk',sans-serif;
    background-color: var(--main-color-green);
    padding: 0 7px;
    display: inline-block;
    font-size: 20px;
    border-radius: 7px;
    margin-bottom: 27px;
}
.footer__email {
    color: white;
    font-family: 'Space Grotesk',sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
}
.footer__email a {
    color: white;
    font-family: 'Space Grotesk',sans-serif;
    font-size: 18px;
}
.footer__phone {
    color: white;
    font-family: 'Space Grotesk',sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
}
.footer__phone a {
    color: white;
    font-family: 'Space Grotesk',sans-serif;
    font-size: 18px;
}
.footer__address {
    color: white;
    font-family: 'Space Grotesk',sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
    width: 332px;
}
.footer__address a {
    font-size: 18px;
    font-family: 'Space Grotesk',sans-serif;
    color: white;
}
.footer__subscribe {
    background-color: #292A32;
    border-radius: 14px;
    display: flex;
    align-items: center;
    padding: 58px 40px;
    gap: 20px;
}
.footer__subscribe input {
    font-family: 'Space Grotesk',sans-serif;
    border: 1px solid white;
    background-color: #292A32;
    padding: 22px 35px;
    border-radius: 14px;
    font-size: 18px;
    color: white;
}
.footer__subscribe input::placeholder {
    color: white;
}
.footer__subscribe button {
    cursor: pointer;
    background-color: var(--main-color-green);
    color: black;
    font-family: 'Space Grotesk',sans-serif;
    padding: 20px 35px;
    margin: 0;
    border: none;
}
.footer__bottom {
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 40px;
}
.footer__bottom p {
    font-family: 'Space Grotesk',sans-serif;
    color: white;
    font-size: 18px;
}
.footer__bottom a {
    color: white;
    font-family: 'Space Grotesk',sans-serif;
    font-size: 18px;
}
.up {
    background-color: var(--main-color-black);
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}
.delay-1 { animation-delay: 0.2s; }
.delay-2 { animation-delay: 0.4s; }
.delay-3 { animation-delay: 0.6s; }
.delay-4 { animation-delay: 0.8s; }
.delay-5 { animation-delay: 1.0s; }
.delay-6 { animation-delay: 1.2s; }