@font-face {
    font-family: 'Space Grotesk';
    src: url('./src/fonts/SpaceGrotesk-Regular.ttf');
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --main-color-green: #B9FF66;
    --main-color-black: #191A23;
    --main-color-white: #F3F3F3;
}
.container {
    padding: 0 20px;
    max-width: 1280px;
    margin: 0 auto;
}
header {
    padding-top: 60px;
}
.header__menu {
    display: flex;
    gap: 40px;
    font-family: 'Space Grotesk';
    font-size: 20px;
}
.header__menu a {
    text-decoration: none;
    color: black;
}
.header__a5 {
    position: relative;
}
.header__a5:hover::before {
    display: block;
    content: '';
    width: 30px;
    height: 3px;
    top: 33px;
    left: 7px;
    position: absolute;
    background-color: var(--main-color-green);
}
.header__a4 {
    position: relative;
}
.header__a4:hover::before {
    display: block;
    content: '';
    width: 45px;
    height: 3px;
    top: 33px;
    left: 13px;
    position: absolute;
    background-color: var(--main-color-green);
}
.header__a3 {
    position: relative;
}
.header__a3:hover::before {
    display: block;
    content: '';
    width: 70px;
    height: 3px;
    top: 33px;
    left: 16px;
    position: absolute;
    background-color: var(--main-color-green);
}
.header__a2 {
    position: relative;
}
.header__a2:hover::before {
    display: block;
    content: '';
    width: 55px;
    height: 3px;
    top: 33px;
    left: 14px;
    position: absolute;
    background-color: var(--main-color-green);
}
.header__a {
    position: relative;
    padding: 5px 10px 5px 10px;
}
.header__a:hover::before {
    display: block;
    content: '';
    width: 60px;
    height: 3px;
    top: 33px;
    left: 14px;
    position: absolute;
    background-color: var(--main-color-green);
}
.header__a.active {
    background-color: var(--main-color-green);
    border-radius: 14px;
}
.header__menu li  {
    list-style: none;
}
.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__top_button {
    border: 1px solid black;
    border-radius: 14px;
    padding: 20px 35px 20px 35px;
    text-decoration: none;
    color: black;
    font-family: 'Space Grotesk';
    font-size: 20px;
    display: inline-block;
    transition: .6s ease;
}
.header__top_button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
.header__block {
    display: flex;
    gap: 40px;
    align-items: center;
}
.header__title h1 {
    font-size: 60px;
    font-family: 'Space Grotesk';
}
.header__title p {
    font-size: 20px;
    font-family: 'Space Grotesk';
    margin-top: 35px;
}
.header__title a {
    padding: 20px 35px 20px 35px;
    background-color: var(--main-color-black);
    border-radius: 14px;
    text-decoration: none;
    color: white;
    margin-top: 35px;
    display: inline-block;
    font-family: 'Space Grotesk';
    transition: .3s ease;
    cursor: pointer;
}
.header__title a:hover {
    transform: scale(1.05);
}
.header__title {
    width: 531px;
}
.header__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.companies .container {
    display: flex;
    justify-content: space-between;
}
.companies {
    padding-top: 70px;
    padding-bottom: 70px;
}
.companies img {
    transition: .3s ease;
    cursor: pointer;
    filter: grayscale(100%);

}
.companies img:hover {
    transform: scale(1.08);
    filter: grayscale(0%);
}
.services {
    padding-top: 70px;
}
.services__title {
    display: flex;
    width: 798px;
    gap: 40px;
}
.services__title p {
    font-size: 18px;
    font-family: 'Space Grotesk';
}
.services__title h2 {
    font-size: 40px;
    font-family: 'Space Grotesk';
    background-color: var(--main-color-green);
    padding: 0 7px;
}
.services__cards {
    margin-top: 80px;
    column-count: 2;
    gap: 40px;
}
.services__card {
    border: 1px solid black;
    width: 600px;
    border-radius: 45px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    text-decoration: none;
    color: black;
    transition: .3s ease;
}
.services__card:nth-child(1) {
    background-color: var(--main-color-white);
}
.services__card:nth-child(2) {
    background-color: var(--main-color-black);
}
.services__card:nth-child(3) {
    background-color: var(--main-color-green);
}
.services__card:nth-child(4) {
    background-color: var(--main-color-green);
}
.services__card:nth-child(5) {
    background-color: var(--main-color-white);
}
.services__card:nth-child(6) {
    background-color: var(--main-color-black);
}
.services__card_title {
    font-size: 30px;
    font-family: 'Space Grotesk';
    background-color: var(--main-color-green);
}
.services__card_more {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 93px;
    font-size: 20px;
    font-family: 'Space Grotesk';
    text-decoration: none;
    color: black;
}
.services__text_second p {
    display: inline-block;
    padding: 0 7px;
    background-color: white;
    font-family: 'Space Grotesk';
    border-radius: 7px;
    font-size: 30px;
}
.services__text_second {
    width: 220px;
}
.services__text_first p{
    background-color: var(--main-color-green);
    display: inline-block;
    padding: 0 7px;
    font-family: 'Space Grotesk';
    border-radius: 7px;
    font-size: 30px;
}
.services__text_first {
    width: 230px;
}
.services__more {
    color: white;
}

.services__card:hover {
    box-shadow: 0 10px 10px black;
    transform: translateY(-10px);
}
.promo {
    padding-top: 123px;
    padding-bottom: 70px ;
}
.promo__block {
    display: flex;
    gap: 186px;
    background-color: var(--main-color-white);
    border-radius: 45px;
    padding: 60px;
    z-index: 1;
    height: 347px;
    align-items: center;
}
.promo__left {
    width: 500px;
}
.promo__left h2 {
    font-size: 30px;
    font-family: 'Space Grotesk';
}
.promo__left p {
    font-size: 18px;
    font-family: 'Space Grotesk';
    margin-top: 26px;
}
.promo__left a {
    display: inline-block;
    background-color: var(--main-color-black);
    padding: 20px 35px;
    border-radius: 14px;
    text-decoration: none;
    color: white;
    font-family: 'Space Grotesk';
    margin-top: 46px;
    font-size: 20px;
    transition: .3s ease;
}
.promo__left a:hover {
    transform: scale(1.03);
    cursor: pointer;
}
.case {
    padding-top: 70px;
    padding-bottom: 70px;
}
.case__title {
    display: flex;
    align-items: center;
    font-family: 'Space Grotesk';
    gap: 40px;
}
.case__title h2 {
    font-size: 40px;
    background-color: var(--main-color-green);
    padding: 0 7px;
}
.case__title p{
    font-size: 18px;
    width: 580px;
    font-family: 'Space Grotesk';
}
.case__cards {
    margin-top: 80px;
    background-color: var(--main-color-black);
    color: white;
    font-family: 'Space Grotesk';
    border-radius: 45px;
    display: flex;
    padding: 70px 60px;
    justify-content: space-between;
    align-items: center;
}
.case__card {
    width: 286px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 186px;
}
.case__card:nth-child(2) {
    position: relative;
}
.case__card:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0;
    left: -64px;
    height: 186px;
    background-color: white;
    width: 1px;
}
.case__card:nth-child(2)::after {
    content: '';
    position: absolute;
    top: 0;
    right: -64px;
    height: 186px;
    background-color: white;
    width: 1px;
}
.case__card a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--main-color-green);
}
.process {
    padding-top: 70px;
    padding-bottom: 70px;
}
.process__title {
    display: flex;
    align-items: center;
    font-family: 'Space Grotesk';
    gap: 40px;
}
.process__title h2{
    background-color: var(--main-color-green);
    padding: 0 7px;
    font-size: 40px;
}
.process__title p {
    font-size: 18px;
    width: 292px;
}
.process__cards {
    margin-top: 80px;
}
.process__card {
    background-color: var(--main-color-white);
    padding: 41px 60px;
    border-radius: 45px;
    margin-bottom: 30px;
    border: 1px solid black;
    transition: .3s ease-in;
}
.process__card:hover {
    background-color: var(--main-color-green);
    box-shadow: 0 10px 10px black;
    transform: translateY(-10px);
    cursor: pointer;
}
.process__card_title {
    display: flex;
    align-items: center;
    font-family: "Space Grotesk";
    gap: 25px;

}
.process__card_title p {
    font-size: 60px;
}
.process__card_title h3 {
    font-size: 30px;
}
.process__block {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.process__description {
    font-family: 'Space Grotesk';
    font-size: 18px;
    width: 1059px;
    display: none;
    border-top: 1px solid black;
    padding-top: 30px;
}

.process__card:hover > .process__description {
    display: flex;
}
.process__card:hover > .process__block {
    margin-bottom: 30px;
}
.process__minus  {
    display: none;
}
.process__card:hover .process__plus {
    display: none;
}
.process__card:hover .process__minus {
    display: inline-block;
}
.team {
    padding-top: 70px;
    padding-bottom: 70px;
}
.team__title {
    font-family: 'Space Grotesk';
    display: flex;
    align-items: center;
    gap: 40px;
}
.team__title h2 {
    font-size: 40px;
    background-color: var(--main-color-green);
    padding: 0 7px;
}
.team__title p {
    width: 438px;
    font-size: 18px;
}
.team__cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    justify-content: space-between;
    row-gap: 40px;
}
.team__card {
    border: 1px solid black;
    padding: 40px 35px;
    border-radius: 45px;
    position: relative;
    width: 387px;
    border-bottom: 6px solid black;
}
.team__card::before {
    content: 'in';
    font-family: 'Space Grotesk';
    background-color: black;
    color: var(--main-color-green);
    padding: 8px;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}
.team__block {
    display: flex;
    align-items: end;
    gap: 20px;
    padding-bottom: 28px;
    border-bottom: 1px solid black;
}
.team__info {
    font-family: 'Space Grotesk';
    width: 140px;
}
.team__block span {
    font-family: 'Space Grotesk';
    font-size: 20px;
    font-weight: 600;
}
.team__description {
    margin-top: 28px;
    font-family: 'Space Grotesk';
    width: 292px;
}
.team__button {
    margin-top: 40px;
    display: flex;
    justify-content: end;
}
.team__button a {
    text-decoration: none;
    color: white;
    padding: 20px 76px;
    background-color: var(--main-color-black);
    border-radius: 14px;
    font-size: 20px;
    font-family: 'Space Grotesk';
}
.feedback {
    padding-top: 70px;
    padding-bottom: 70px;
}
.swiper {
    width: 100%;
    height: 100%;
    background-color: var(--main-color-black);
    margin-top: 80px;
    border-radius: 45px;
}
.swiper-wrapper {
    padding-top: 84px;
    padding-bottom: 124px;
    gap: 50px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 336px;
    border-radius: 45px;
    width: 606px;
    background-color: var(--main-color-black);
    flex-direction: column;
    margin: 0 !important;
}
.swiper-slide .swiper-slide-active {
    width: 606px !important;
}
.swiper-wrapper {
    background-color: var(--main-color-black);

}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.feedback__title {
    font-family: 'Space Grotesk';
    display: flex;
    align-items: center;
    gap: 40px;
}
.feedback__title h2 {
    font-size: 40px;
    background-color: var(--main-color-green);
    padding: 0 7px;
}
.feedback__title p {
    width: 473px;
    font-size: 18px;
}

.feedback__text {
    border: 1px solid var(--main-color-green);
    padding: 48px 52px;
    border-radius: 45px;
    position: relative;
}
.feedback__text::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    top: 215px;
    left: 60px;
    border-right: 1px solid var(--main-color-green);
    border-bottom: 1px solid var(--main-color-green);
    transform: rotate(45deg);
    background-color: var(--main-color-black);

}
.feedback__text p {
    width: 502px;
    font-size: 18px;
    color: white;
    font-family: 'Space Grotesk';
}
.swiper-pagination-bullet {
    background-image: url("./src/images/pagination_white.svg");
    width: 14px;
    height: 14px;
    opacity: 1;
    border-radius: 0;
}
.swiper-pagination-bullet-active {
    background-image: url("./src/images/pagination_green.svg");
    width: 14px;
    height: 14px;
    background-color: var(--main-color-black);
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    width: 400px;
    left: 420px;
}
.swiper-pagination {
    display: flex;
    justify-content: center;
    gap: 19px;

}
.feedback__author {
    font-family: 'Space Grotesk';
    color: white;
    width: 270px;
    text-align: left;
    margin: 40px 185px 0 0;

}
.feedback__name {
    color: var(--main-color-green);
    font-size: 24px;
}
.feedback__job {
    font-size: 18px;
}
.swiper-button-next::after {
    display: none;
}
.swiper-button-prev::after {
    content: '';
}
.swiper-button-next {
    position: absolute;
    bottom: 0;
    right: 345px;
}
.swiper-button-prev {
    position: absolute;
    bottom: 0;
    left: 345px;
}
.swiper-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    position: relative;
    margin-bottom: 68px;
}
.contact {
    padding-top: 70px;
    padding-bottom: 70px;
}
.contact__title {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 80px;
}
.contact__title h2 {
    display: inline-block;
    font-family: 'Space Grotesk';
    background-color: var(--main-color-green);
    font-size: 40px;
    padding: 0 7px;
    border-radius: 7px;

}
.contact__title p {
    width: 313px;
    font-family: 'Space Grotesk';
}
.contact__block {
    background-color: var(--main-color-white);
    border-radius: 45px;
    padding: 60px 0 80px 100px;
    display: flex;
    position: relative;
}
form {
    width: 556px;
}
.input__name {
    font-family: 'Space Grotesk';
    width: 100%;
    padding: 18px 30px;
    border-radius: 14px;
    font-size: 18px;
    margin-bottom: 25px;
    margin-top: 5px;
}
.label__name {
    font-family: 'Space Grotesk';
    font-size: 16px;
}
.input__email {
    font-family: 'Space Grotesk';
    width: 100%;
    padding: 18px 30px;
    border-radius: 14px;
    font-size: 18px;
    margin-bottom: 25px;
    margin-top: 5px;
}
.label__email {
    font-family: 'Space Grotesk';
    margin-bottom: 5px;
    font-size: 16px;
}
.label__message {
    font-family: 'Space Grotesk';
    margin-bottom: 5px;
    font-size: 16px;
}
textarea {
    font-family: 'Space Grotesk';
    border-radius: 14px;
    padding: 18px 0 0 30px;
    width: 100%;
    margin-top: 5px;
    font-size: 18px;
    resize: none;
}
.contact__img {
    position: absolute;
    right: -324px;
}
button {
    width: 100%;
    padding: 20px 0;
    border-radius: 14px;
    background-color: var(--main-color-black);
    color: white;
    cursor: pointer;
    margin-top: 40px;
    font-family: 'Space Grotesk';
    font-size: 20px;
}
.label__radio {
    font-family: 'Space Grotesk';
    font-size: 18px;
    position: relative;
    cursor: pointer;
    margin-right: 35px;
}
.input__radio {
    accent-color: var(--main-color-green);
    margin-bottom: 40px;
    appearance: none;
    margin-right: 14px;
}
.input__radio::before {
    content: '';
    display: flex;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid black;
    padding: 6px;
    background-clip: content-box;
    box-sizing: border-box;
}
.input__radio:checked::before {
    background-color: var(--main-color-green);
}
footer{
    padding-top: 70px;
}
.footer__block {
    background-color: var(--main-color-black);
    border-radius: 45px 45px 0 0;
    padding: 60px 55px;
}
.footer__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;

}
.footer__list a {
    font-family: 'Space Grotesk';
    color: white;
    font-size: 18px;
}
.footer__socials {
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer__contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 66px;
    border-bottom: 1px solid white;
    padding-bottom: 51px;
}
.footer__contacts h2 {
    font-family: 'Space Grotesk';
    background-color: var(--main-color-green);
    padding: 0 7px;
    display: inline-block;
    font-size: 20px;
    border-radius: 7px;
    margin-bottom: 27px;
}
.footer__email {
    color: white;
    font-family: 'Space Grotesk';
    font-size: 18px;
    margin-bottom: 20px;
}
.footer__phone {
    color: white;
    font-family: 'Space Grotesk';
    font-size: 18px;
    margin-bottom: 20px;
}
.footer__address {
    color: white;
    font-family: 'Space Grotesk';
    font-size: 18px;
    margin-bottom: 20px;
    width: 332px;
}
.footer__subscribe {
    background-color: #292A32;
    border-radius: 14px;
    display: flex;
    align-items: center;
    padding: 58px 40px;
    gap: 20px;
}
.footer__subscribe input {
    font-family: 'Space Grotesk';
    border: 1px solid white;
    background-color: #292A32;
    padding: 22px 35px;
    border-radius: 14px;
    font-size: 18px;
    color: white;
}
.footer__subscribe input::placeholder {
    color: white;
}
.footer__subscribe button {
    cursor: pointer;
    background-color: var(--main-color-green);
    color: black;
    font-family: 'Space Grotesk';
    padding: 20px 35px;
    margin: 0;
    border: none;
}
.footer__bottom {
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 40px;
}
.footer__bottom p {
    font-family: 'Space Grotesk';
    color: white;
    font-size: 18px;
}
.footer__bottom a {
    color: white;
    font-family: 'Space Grotesk';
    font-size: 18px;
}