@media screen and (max-width: 1239px) {
    .header__menu {
        display: none;
    }
    .header__btn {
        display: none;
    }
    .header__burger-menu {
        display: block;
    }
}
@media screen and (max-width: 1278px) {
    .pricing__title {
        font-size: 18px;
    }
    .pricing__cost {
        font-size: 33px;
    }
    .pricing__start {
        font-size: 18px;
        padding: 20px 0;
        width: 100%;
        text-align: center;
    }
    .pricing__quote {
        font-size: 18px;
        padding: 20px 0;
        width: 100%;
        text-align: center;
    }
    .process__card:hover > .process__description {
        height: 100%;
    }
}
@media screen and (max-width: 980px) {
    .pricing__cards {
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 486px) {
    .footer__address {
        width: 100%;
    }
}
@media screen and (max-width: 450px) {
    .footer__subscribe input {
        padding: 15px 20px;
        font-size: 16px;
    }

    .footer__subscribe button {
        padding: 15px 20px;
        font-size: 16px;
    }
    .footer__subscribe {
        padding: 30px 20px
    }
}
@media screen and (max-width: 474px) {
    .footer__bottom {
        text-align: center;
    }
}
@media screen and (max-width: 474px) {
    .footer__bottom {
        text-align: center;
    }
}
@media screen and (max-width: 850px) {
    .process__symbol {
        flex-shrink: 0;
    }
}
@media screen and (max-width: 410px) {
    .process__symbol {
        width: 45px;
        height: 45px;
    }
}
@media screen and (max-width: 1178px) {
    .process__card_title h3{
        font-size: 20px;
    }
}
@media screen and (max-width: 1140px) {
    .footer__list {
        flex-direction: column;
        gap: 20px;
    }
    .footer__menu {
        flex-direction: column;
    }
    .footer__contacts {
        flex-direction: column;
        text-align: center;
    }
    .footer__subscribe {
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
    }
    .footer__subscribe input {
        width: 100%;
    }
    .footer__bottom {
        flex-direction: column;
        gap: 10px;
    }
    .footer__socials-adaptive {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 30px;
    }
    .footer__socials {
        display: none;
    }
    .footer__img {
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 498px) {
    .process__text p{
        font-size: 30px;
    }
}