@media screen and (max-width: 1345px) {
    .team__cards {
        display: none;
    }
    .team__cards-adaptive {
        display: flex;
        flex-wrap: wrap;
        margin-top: 80px;
        justify-content: space-between;
        row-gap: 40px;
    }
    .input__email {
        outline: none;
    }
    .input__name {
        outline: none;
    }
    textarea {
        outline: none;
    }
}
@media screen and (max-width: 1176px) {
    .header__menu {
        display: none;
    }
    .header__btn {
        display: none;
    }
    .header__burger-menu {
        display: block;
    }
}
@media screen and (max-width: 1170px) {
    .swiper.Swiper {
        display: flex;
    }
}
@media screen and (max-width: 1205px) {
    .services__cards {
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    .team__button {
        display: none;
    }
    .swiper-wrapper.swiper-wrapper-adaptive {
        padding: 0;
    }
    .header__description {
        margin-top: 0;
    }
}
@media screen and (max-width: 1160px) {
    .header__img {
        width: 501px;
    }
    .header__title {
        font-size: 50px;
        width: 431px;
    }
    .header__description {
        font-size: 16px;
    }
}
@media screen and (max-width: 964px) {
    .header__title {
        font-size: 40px;
        width: 411px;
    }
    .header__description {
        font-size: 14px;
    }
}
@media screen and (max-width: 944px) {
    .header__bottom {
        flex-direction: column;
    }
    .header__img {
        order: -1;
        width: 500px;
    }
    .header__title {
        display: none;
    }
    .header__title-adaptive {
        display: block;
        order: -1;
        font-size: 50px;
        font-family: 'Space Grotesk',sans-serif;
    }
    .header__button {
        width: 100%;
        text-align: center;
    }
    .header__description {
        font-size: 18px;
    }
}
@media screen and (max-width: 1070px) {
    .promo__right {
        display: none;
    }
    .promo__block {
        flex-direction: column;
    }
    .promo__left {
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    .promo__left a {
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 550px) {
    .header__description {
        font-size: 20px;
    }
    .header__img {
        width: 100%;
    }
}
@media screen and (max-width: 1100px) {
    .contact__img {
        display: none;
    }
    .contact__block {
        justify-content: center;
        padding: 0;
    }
    form {
        padding: 80px 100px;
        width: 100%;
    }
}
@media screen and (max-width: 1140px) {
    .footer__list {
        flex-direction: column;
        gap: 20px;
    }
    .footer__menu {
        flex-direction: column;
    }
    .footer__contacts {
        flex-direction: column;
        text-align: center;
    }
    .footer__subscribe {
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
    }
    .footer__subscribe input {
        width: 100%;
    }
    .footer__bottom {
        flex-direction: column;
        gap: 10px;
    }
    .footer__socials-adaptive {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 30px;
    }
    .footer__socials {
        display: none;
    }
    .footer__img {
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 830px) {
    .companies .container {
        flex-wrap: wrap;
    }
    .services__subtitle {
        font-size: 16px;
        width: 100%;
    }
    .services__text {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .services .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .case__subtitle {
        font-size: 16px;
    }
    .case__text {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .process__text {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .team__text {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .team__subtitle {
        font-size: 16px;
    }
    .feedback__text {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .feedback__subtitle {
        font-size: 16px;
    }
    .contact__text {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .contact__subtitle {
        font-size: 16px;
    }
}
@media  screen and (max-width: 804px) {
    .services__cards {
        gap: 20px;
    }
    .services__card {
        width: 100%;
        padding: 30px;
        margin-bottom: 0;
    }
    .services__card-text {
        font-size: 24px;
    }
    .services__img {
        width: 175px;
        align-self: end;
    }
    .services__img img {
        width: 100%;
    }
    .services__card_more p {
        display: none;
    }
}
@media screen and (max-width: 1170px) {
    .case__cards {
        display: none;
    }
    .swiper-slide.swiper-slide-adaptive {
        display: flex;
        flex-direction: column;
        color: white;
        font-family: 'Space Grotesk',sans-serif;
        text-align: left;
        align-items: start;
        padding: 40px;
        font-size: 16px;
    }
    .swiper-slide-adaptive a {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: var(--main-color-green);
        margin-top: 30px;
    }
    .swiper-wrapper.swiper-wrapper-adaptive {
        background: none;
    }
    .swiper.Swiper {
        background: none;
    }

}
@media screen and (max-width: 924px) {
    .main__title {
        font-size: 30px;
    }
    .case__subtitle {
        font-size: 16px;
    }
    .services__subtitle {
        font-size: 16px;
    }
    .team__title {
        font-size: 40px;
    }
}
@media screen and (max-width: 862px) {
    .main__title {
        font-size: 25px;
    }
    .team__title {
        font-size: 40px;
    }
}
@media screen and (max-width: 516px) {
    .header__img {
        width: 100%;
    }
}
@media screen and (max-width: 840px) {
    .process__card:hover > .process__description {
        height: 100%;
    }
}
@media screen and (max-width: 850px) {
    .process__symbol {
        flex-shrink: 0;
    }
}
@media screen and (max-width: 546px) {
    .process__card_title h3{
        font-size: 20px;
    }
    .process__card_title p {
        font-size: 40px;
    }
}
@media screen and (max-width: 454px) {
    .process__card {
        padding: 30px 40px;
    }
}
@media screen and (max-width: 1200px) {
    .team__cards-adaptive {
        justify-content: center;
        gap: 40px;
    }
}
@media screen and (max-width: 1250px) {
    .services__text {
        width: 100%;
    }
}
@media screen and (max-width: 960px) {
    .swiper-slide {
        padding: 0 50px;
    }
}
@media screen and (max-width: 662px) {
    .promo__left a {
        width: 100%;
        font-size: 16px;
    }
    .promo__left h2 {
        font-size: 23px;
        width: 100%;
    }
    .promo__left p {
        font-size: 16px;
        width: 100%;
    }
    .promo__left {
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 580px) {
    .case__subtitle {
        width: 100%;
    }
    .feedback__subtitle {
        width: 100%;
    }
    .contact__subtitle {
        width: 100%;
    }
}
@media screen and (max-width: 540px) {
    .feedback__author {
        margin: 40px auto 0 auto;
    }
    .swiper-slide {
        padding: 0 20px;
    }
    .feedback__message {
        padding: 30px;
    }
}
@media screen and (max-width: 600px) {
    form {
        padding: 40px 50px;
    }
}
@media screen and (max-width: 700px) {
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        width: 150px;
    }
}
@media screen and (max-width: 630px) {
    .swiper-block {
        width: 70%;
    }
}
@media screen and (max-width: 458px) {
    .services__card-text {
        font-size: 18px;
    }
}
@media screen and (max-width: 438px) {
    .team__subtitle {
        width: 100%;
    }
}
@media screen and (max-width: 400px) {
    .header__title-adaptive {
        font-size: 40px;
    }
}
@media screen and (max-width: 410px) {
    .services__img {
        width: 140px;
    }
    .process__symbol {
        width: 45px;
        height: 45px;
    }
    .process__card_title h3{
        font-size: 16px;
    }
    .team__description {
        width: 100%;
        font-size: 16px;
    }
    .team__name {
        font-size: 18px;
    }
    .team__post {
        font-size: 16px;
        width: 100%;
    }
}
@media screen and (max-width: 380px) {
    .services__card-text {
        font-size: 16px;
    }
}
@media screen and (max-width: 450px) {
    .team__card {
        width: 100%;
    }
}
@media screen and (max-width: 418px) {
    .contact__radio {
        display: flex;
        flex-direction: column;
    }
    form {
        padding: 35px;
    }
}
@media screen and (max-width: 486px) {
    .footer__address {
        width: 100%;
    }
}
@media screen and (max-width: 450px) {
    .footer__subscribe input {
        padding: 15px 20px;
        font-size: 16px;
    }

    .footer__subscribe button {
        padding: 15px 20px;
        font-size: 16px;
    }
    .footer__subscribe {
        padding: 30px 20px
    }
}
@media screen and (max-width: 474px) {
    .footer__bottom {
        text-align: center;
    }
}
@media screen and (max-width: 440px) {
    .footer__block {
        padding: 60px 20px;
    }
}
@media screen and (max-width: 404px) {
    .promo__left a {
        padding: 20px 10px;
    }
}